.title-style{
    color: rgb(235, 202, 13);
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
    margin: 5px;
    text-transform: capitalize;
}
.main-info{
    background-color:#c5b6b6;
}
.btn-form{
    all: unset;
   position: relative;
   left: 50%;
   padding: 20px;
   cursor: pointer;
  
}
.btn-form a{
    text-decoration: none;
    color: #dbde0f;
    padding: 10px;
    text-transform: capitalize;
    border: 5px solid gold;
}